body {
    background: #fad3ea;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}
.photo{
    border: 1px solid black;
    border-radius: 50%; 
    width: 150px;
}
#title, .subtitle, .post-title {
color: rgb(0, 0, 0);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
a {
    text-decoration: line-through;
    color: #7c064b;
}
.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
     
.post {
    background: #fa91ce;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post-conteudo {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post-image{
    margin-bottom: 15px;
    width: 100%;
}
.contact-list{
    list-style-type: none;
    padding-left: 15px;
}
.contact-list li a{
    color: blue;
    text-decoration: none;
}
.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    background-color: #f00b91;
    font-family: "SF Pro Text", Helvetica, sans-serif;
    margin-bottom: 5px;
  }