body {
    background: rgb(252, 230, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
}
.photo{
    border: 1px solid black;
    border-radius: 50%; 
    width: 150px;
}
#title, .subtitle, .post-title {
color: rgb(0, 0, 0);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
a {
    text-decoration: line-through;
    color: blueviolet;
}
.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
     
.post {
    background: rgb(243, 166, 210);
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post-conteudo {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.post-image{
    margin-bottom: 15px;
}
.contact-list{
    list-style-type: none;
    padding-left: 15px;
}
.contact-list li a{
    color: blue;
    text-decoration: none;
}